<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#reservations">Your reservations</a></li>
  <li><a data-toggle="tab" href="#spots">Your spots</a></li>
</ul>

<div class="tab-content">
  <div id="reservations" class="tab-pane fade in active">
    <h3>Your Reservations</h3>
    <%= render partial: "users/reservation", collection: @user.reservations %>
  </div>
  <div id="spots" class="tab-pane fade">
    <h3>Your Spots</h3>
    <%= render partial: "users/spot", collection: @user.spots %>
  </div>
</div>
<%= link_to 'Back', users_path %>
